<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/detailProject.css" />
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
            <div class="container-fluid">
                <a class="navbar-brand mx-5" href="/">
                    <img src="../assets/image/dumbways.png" class="img-fluid ms-5" width="60" height="60" id="navbar-logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="home-link" href="/">Home</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="add-project-link" href="/add-project">Add Project</a>
                        </li>
                        <li class="nav-item ms-3">
                            <a class="nav-link" id="testimonial-link" href="/testimonials">Testimonial</a>
                        </li>
                    </ul>
                    <button class="btn btn-outline-light bg-black text-ligh" id="btn-contactMe" type="submit"><a href="/contact" style="text-decoration: none; color: white;">Contact me</a></button>
                </div>
            </div>
        </nav>

    <h1 class="text-center mt-5">{{data.name}}</h1>
    <div class="container-fluid d-flex justify-content-center" style="width: 80%" id="container-detail">
      <img src="../assets/image/1.jpg" class="img-fluid mb-3" id="img-content" style="max-width: 650px; height: 500px" />
      <div class="box-1 mx-3 mx-md-5 mt-5">
        <div>
          <h2>Duration</h2>
          <p><i class="fa-solid fa-calculator me-2"></i>{{data.start_date}} - {{data.start_date}}</p>
          <p><i class="fa-regular fa-clock me-2"></i>{{calculateDuration data.inputStart data.inputEnd}}</p>
        </div>
        <h2>Technologies</h2>
        <div class="technologies d-flex flex-row gap-5">
          <div class="techo-1 col-md-6 text-center text-md-start">
            {{#if data.logos.nodeJs}}<p>{{{data.logos.nodeJs}}}Node Js</p>{{/if}}
            {{#if data.logos.reactJs}}<p>{{{data.logos.reactJs}}}React Js</p>{{/if}}
          </div>
          <div class="techo-2 col-md-6 text-center text-md-start">
            {{#if data.logos.nextJs}}<p>{{{data.logos.nextJs}}}Next Js</p>{{/if}}
            {{#if data.logos.typeScript}}<p>{{{data.logos.typeScript}}}TypeScript</p>{{/if}}
          </div>
        </div>
      </div>
    </div>
    <div class="container-content container-fluid">
      <p class="mx-auto" style="width: 70%; margin-top: -40px">
        {{data.inputDescription}}
      </p>
    </div>

    <script src="../assets/js/detailProject.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/nav.js"></script>
  </body>
</html>
